<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DAILY DEPOSITE TABLE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/style2.css')}}">
<style>

.back_btnn{

   margin-left:90%;
   margin-top:20px;
   width:5%;
   border:2px solid black;
   
}

.back_btnn:hover {
  background-color: #f44336;
  color: white;
}
</style> 
</head>
<body>
<!-- partial:index.partial.html -->
<section>

  <!--for demo wrap-->
	
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="1">
      <thead>
        <tr>
          <th>Name</th>
  <th>Days</th>
  <th>Installment</th>
  <th>Deposite</th>
  <th>Interest</th>
  <th>Total Amount</th>
  
  
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
   <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% for row in acc %}  
<tr>

  <td>{{row[0]}} </td>
  <td>{{row[1]}} </td>
  <td>{{row[2]}}</td>
  <td>{{row[3]}}</td>
  <td>{{row[4]}}</td>
  <td>{{row[5]}}</td>

 
  
 </tbody>
   {% endfor %}
    </table><br>
	<form method=post action="/daily_deposite_report">
     <input  class="back_btnn" type=submit value=Back >
  </form>
  </div>
</section>

<script>
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
<!-- partial 
  <script src= src="{{ url_for('static', filename='js/jquery.min.js') }}"></script><script  src="./script.js"></script>-->

</body>
</html>















