<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Mudra Khosh| Home :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Home Loan Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	
	 <meta charset="utf-8">
    <title>Register Form Start</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css//main.min.css') }}">
	<!--<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css//style.css') }}">
	<!--<link href="../static/css/style.css" rel='stylesheet' type='text/css' />-->
	<!-- pop up box -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css//popuo-box.css') }}">

	<!--<link href="../static/css/popuo-box.css"rel="stylesheet" type="text/css" media="all" />-->
	<!-- font-awesome icons -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css//main.min.css') }}">

	<!--<link href="../static/css/main.min.css" rel="stylesheet">-->
	<!-- //Custom Theme files -->
	<!-- online fonts -->
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
	
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/registyle.css') }}">

    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
	<style>
	.back_btnn{

   margin-left:90%;
   margin-top:20px;
   width:10%;
   border:2px solid black;
   
}

.back_btnn:hover {
  background-color: #f44336;
  color: white;
}
</style>
</head>

<body  >
	
	
	
	
	
	<!-- header -->
	<header>
	<div class="top">
			<div class="container">
				<div class="t-op row">
					<div class="col-sm-6 top-middle">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="col-sm-6 top-left">
						<ul>
							<li><i class="fas fa-phone"></i> +021 365 777</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<h1>
					<a class="navbar-brand text-capitalize" href="index.html">
					<b>सुखद भविष्य म्यूचुअल बेनिफिट निधि लिमिटेड</b>
					</a>
				</h1>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav text-center  ml-lg-auto">
						<li class="nav-item active  mr-3">
							<a class="nav-link" href={{url_for('index')}}>Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item  mr-3">
							<a class="nav-link" href={{url_for('about')}}>About</a>
						</li>
						<li class="nav-item  mr-3">
							<a class="nav-link" href={{url_for('services')}}>Services</a>
						</li>
						<li class="nav-item  mr-3">
							<a class="nav-link" href={{url_for('gallery')}}>Gallery</a>
						</li>
						<li class="nav-item dropdown mr-3">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Login
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								
								<a class="dropdown-item" href={{url_for('admin')}}>Admin</a>
								<a class="dropdown-item" href={{url_for('Login')}}>User</a>
								<a class="dropdown-item" href={{url_for('logout')}}>Logout</a>
							</div>
						</li>
					
						<li class="nav-item">
							<a class="nav-link" href={{url_for('contact')}}>contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- //header -->

    <form class="signup-form" action="" method="post" enctype="multipart/form-data">

      <!-- form header -->
      <div class="form-header">
        <h1>Admin Profile</h1>
      </div>

      <!-- form body -->
      <div class="form-body">

        <!-- Firstname and Lastname -->
        <div class="horizontal-group">
          <div class="form-group left">
		 
            <label for="firstname" class="label-title">Name </label>
            <input type="text" name="name" value="{{account[1]}}" class="form-input" placeholder="enter your first name" readonly  />
          </div>
          <div class="form-group right">
            <label for="lastname" class="label-title">Email</label>
            <input type="email" name="mail" value="{{account[2]}}" class="form-input" placeholder="enter your last name"  readonly />
          </div>
        </div>

        <!-- PHONE NO-->
        <div class="form-group">
          <label for="Phone no" class="label-title">Phone no</label>
          <input type="text" name="mobile" value="{{account[3]}}"class="form-input" placeholder="enter you contact number"   readonly />
        </div>
		
 <div class="form-group">
          <label for="Phone no" class="label-title">Identity Card Name</label>
          <input type="text" name="id_name" value="{{account[4]}}"  class="form-input" placeholder="enter you contact number"  readonly />
        </div>
     <!-- ID no-->
        <div class="form-group">
          <label for="Phone no" class="label-title">Identity Card Number</label>
          <input type="text" name="Id Number" value="{{account[5]}}"  class="form-input" placeholder="enter you contact number"  readonly />
        </div>


      <!-- form-footer -->
      <div class="form-footer">

        <button type="submit" class="btn" >Submit</button><br><br>
		
			<a href={{url_for('deposit_typ')}}>click here for deposit....</a><br><br>
		      <a href={{url_for('reports')}}>click here to get report....</a><br><br>
			  <a href={{url_for('Login')}}>click here for User Login....</a><br><br>
			 
		     <a href={{url_for('Nominee_info')}}>Click here to get Nominee information....</a>

</div>
    </form>
	<form method=post action="/admin_reg">
     <input  class="back_btnn" type=submit value=Back >
  </form>
	</div>
	    		
    <!-- Script for range input label -->
    <script>
      var rangeLabel = document.getElementById("range-label");
      var experience = document.getElementById("experience");

      function change() {
      rangeLabel.innerText = experience.value + "K";
      }
    </script>

  <!-- Footer-->
<footer>
		<div class="container py-md-4 mt-md-3">
			<div class="row footer-top-w3layouts-agile py-5">
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>About Us</h3>
					</div>
					<div class="footer-text">
						<p>The objective of Sukhd Bhavishya Mutual Benefit Nidhi Limited Company is to provide ambitious and all facilities to its members at affordable rates...</p>

					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>Contact Us</h3>
					</div>
					<div class="footer-office-hour">
						<ul>
							<li class="hd">Address :</li>
							<li>No.27 - 5549436 street xxxxx, Chinyalisor, Uttarkashi</li>

						</ul>
						<ul>
							<li class="hd">Phone:+ 1 (234) 567 8901</li>
							<li class="hd">Email:
								<a href="mailto:info@example.com">info@example.com</a>
							</li>
							<li class="hd">Fax: 1(234) 567 8901</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>Recent Posts</h3>
					</div>
					<div class="footer-list">
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<!--<img src="../images/g1.jpg" class="img-fluid" alt=" ">-->
								<img src="{{url_for('static',filename = 'images/ft1.jpg')}}" >

							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<!--<img src="../images/g2.jpg" class="img-fluid" alt=" ">-->
								<img src="{{url_for('static',filename = 'images/ft2.jpg')}}" >

							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<!--<img src="../images/g3.jpg" class="img-fluid" alt=" ">-->
								<img src="{{url_for('static',filename = 'images/ft7.jpg')}}" >

							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<!--<img src="../images/g4.jpg"class="img-fluid" alt=" ">-->
								<img src="{{url_for('static',filename = 'images/ft3.jpg')}}" >

							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<!--<img src="../images/g5.jpg" class="img-fluid" alt=" ">-->
								<img src="{{url_for('static',filename = 'images/ft4.jpg')}}" >

							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<!--<img src="../images/g6.jpg" class="img-fluid" alt=" ">-->
								<img src="{{url_for('static',filename = 'images/ft8.jpg')}}" >

							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<!--<img src="../images/g7.jpg" class="img-fluid" alt=" ">-->
								<img src="{{url_for('static',filename = 'images/ft5.jpg')}}" >

							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<!--<img src="../images/g9.jpg" class="img-fluid" alt=" ">-->
								<img src="{{url_for('static',filename = 'images/ft6.jpg')}}" >

							</a>
						</div>
						<div class="flickr-grid">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<!--<img src="../images/g8.jpg" class="img-fluid" alt=" ">-->
								<img src="{{url_for('static',filename = 'images/ft9.jpg')}}" >

							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>Subscribe</h3>
					</div>
					<p>Vivamus magna justo, lacinia eget consectetur sed.</p>
					<form action="#" method="post" class="newsletter">
						<input class="email" type="email" placeholder="Your email..." required="">
						<button class="btn1">
							<i class="far fa-envelope"></i>slider"						</button>
					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</footer>
	<!---->
	<div class="copyright py-3">
		<div class="container">
			<div class="copyrighttop">
				<ul>
					<li>
						<h4>Follow us on:</h4>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-pinterest-p"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="copyrightbottom">
				<p>© 2022 financial. All Rights Reserved | Design by
					<a href="http://w3layouts.com/">W3layouts</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Home Loan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		 <div class="agileits-w3layouts-info">
			<!--<img src="../images/g6.jpg" class="img-fluid" alt="" />-->
			<img src="{{url_for('static',filename = 'images/g6.jpg')}}" >

			<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. </p>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- //Modal -->
<!-- js-->
	<!--<script src="js/jquery-2.2.3.min.js"></script>-->
	         <script  src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
<!-- js-->
<!-- Banner Responsiveslides -->
	<!--<script src="js/responsiveslides.min.js"></script>-->
		         <script src="{{ url_for('static', filename='js/responsiveslides.min.js') }}"></script>

	
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
<!-- // Banner Responsiveslides -->
<!-- stats -->
	<!--<script src="js/jquery.waypoints.min.js"></script>-->
	<script src="{{url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
	<!--<script src="js/jquery.countup.js"></script>-->
		<script src="{{url_for('static', filename='js/jquery.countup.js')}}"></script>

		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
<!--pop-up-box -->
	<!--<script src="js/jquery.magnific-popup.js"></script>-->
			<script src="{{url_for('static', filename='js/jquery.magnific-popup.js')}}"></script>

	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});
		});
	</script>
	<!-- //pop-up-box -->
	<!-- Bootstrap Core JavaScript -->
	<!--<script src="js/bootstrap.js ">-->
	<script src="{{url_for('static', filename='js/bootstrap.js ')}}"></script>

	
	</script>
	<!-- //Bootstrap Core JavaScript -->

</body>
</html>
